*{
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;

}

body{

  header {

    background-color: #f9f7fb;

    .ticker {
      background-color: #4dbe74;
      font-weight: 300;
      color: #fff;
      height: 35px;
      max-width: 90%;
      margin: auto;

      #news_head {
        margin-left: 70px;
        margin-right: 40px;
      }

      #news_word {
        color: #484ae9;
      }
    }
    /* The HTML list gets replaced with a single div,
       which contains the active ticker item, so you
       can easily style that as well */
    .ticker div {
      margin-top: 5px;
      display: inline-block;
      word-wrap: break-word;

    }

    .navbar {
      max-width: 90%;
      margin: auto;
      background-color: #f9f7fb;
      padding-bottom: 10px;

      .img-fluid{
        max-width: 20%;
      }

      .brand-text{
        color: #393185;
        margin-left: 20px;
        font-size: 120%;
      }

      ul {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      #navbar-content {
        .navbar-nav {
          #nav_logo {
            width: 90px;
            margin-top: -30px;
            padding-bottom: 0.5rem;
          }

          li {

            a {
              color: #393185;
              padding-left: 8px;
              padding-right: 8px;
              transition: color 0.5s ease;
            }
          }

          .nav-text:active,
          .nav-text:hover {
            color: #4dbe74;
          }

          a:visited, a:link {

          }
        }
      }
    }
  }
    .carousel-inner > .carousel-item > img {
      height: 400px;
      max-width: 90%;
      margin: auto;
    }



  #news{

    h3{
      padding-top: 80px;
      text-align: center;
      color: #393185;
    }

    .filterDiv {
      display: none; /* Hidden by default */
    }

    .show {
      display: block;
    }

    #myBtnContainer{
      text-align: center;
    }

    .btn {
      border: none;
      outline: none;
      padding: 12px 16px;
      background-color: #f1f1f1;
      border-radius: 30px;
      cursor: pointer;
    }

    /* Add a light grey background on mouse-over */
    .btn:hover {
      background-color: #ddd;
    }

    /* Add a dark background to the active button */
    .btn.active {
      background-color: #4dbe74;
      color: white;
    }

    .underline{
      display: block;
      margin: auto;
      margin-top: -40px;
      width: 10%;
      height: 10%;
    }

    background-color: #f9f7fb;

    .container{
      max-width: 91%;

    }


    .card{
      text-align: left;
      overflow: hidden;
      margin-left: 6px;
      margin-right: 6px;
      margin-top: 20px;
      width: 70%;
      padding: 0;
      transition: box-shadow 0.3s ease-in-out;

      .card-body {
        padding: 0.75rem;
        padding-bottom: 0;
      }

      .date{
        text-align: right;
      }

      img{
        height: 130px;
      }




    }

    .card:hover{
      -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
      box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    }

    @media screen and (min-width: 768px) {
      .col-md-4 {
        max-width: 31%;
      }
    }
  }

  .zoom {
    transition: transform .5s; /* Animation */

  }

  .zoom:hover {
    transform: scale(1.05); /* (105% zoom)*/

  }

}