* {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}
body header {
  background-color: #f9f7fb;
  /* The HTML list gets replaced with a single div,
       which contains the active ticker item, so you
       can easily style that as well */
}
body header .ticker {
  background-color: #4dbe74;
  font-weight: 300;
  color: #fff;
  height: 35px;
  max-width: 90%;
  margin: auto;
}
body header .ticker #news_head {
  margin-left: 70px;
  margin-right: 40px;
}
body header .ticker #news_word {
  color: #484ae9;
}
body header .ticker div {
  margin-top: 5px;
  display: inline-block;
  word-wrap: break-word;
}
body header .navbar {
  max-width: 90%;
  margin: auto;
  background-color: #f9f7fb;
  padding-bottom: 10px;
}
body header .navbar .img-fluid {
  max-width: 20%;
}
body header .navbar .brand-text {
  color: #393185;
  margin-left: 20px;
  font-size: 120%;
}
body header .navbar ul {
  width: 100%;
  display: flex;
  justify-content: center;
}
body header .navbar #navbar-content .navbar-nav #nav_logo {
  width: 90px;
  margin-top: -30px;
  padding-bottom: 0.5rem;
}
body header .navbar #navbar-content .navbar-nav li a {
  color: #393185;
  padding-left: 8px;
  padding-right: 8px;
  transition: color 0.5s ease;
}
body header .navbar #navbar-content .navbar-nav .nav-text:active,
body header .navbar #navbar-content .navbar-nav .nav-text:hover {
  color: #4dbe74;
}
body .carousel-inner > .carousel-item > img {
  height: 400px;
  max-width: 90%;
  margin: auto;
}
body #news {
  /* Add a light grey background on mouse-over */
  /* Add a dark background to the active button */
  background-color: #f9f7fb;
}
body #news h3 {
  padding-top: 80px;
  text-align: center;
  color: #393185;
}
body #news .filterDiv {
  display: none;
  /* Hidden by default */
}
body #news .show {
  display: block;
}
body #news #myBtnContainer {
  text-align: center;
}
body #news .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  border-radius: 30px;
  cursor: pointer;
}
body #news .btn:hover {
  background-color: #ddd;
}
body #news .btn.active {
  background-color: #4dbe74;
  color: white;
}
body #news .underline {
  display: block;
  margin: auto;
  margin-top: -40px;
  width: 10%;
  height: 10%;
}
body #news .container {
  max-width: 91%;
}
body #news .card {
  text-align: left;
  overflow: hidden;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 20px;
  width: 70%;
  padding: 0;
  transition: box-shadow 0.3s ease-in-out;
}
body #news .card .card-body {
  padding: 0.75rem;
  padding-bottom: 0;
}
body #news .card .date {
  text-align: right;
}
body #news .card img {
  height: 130px;
}
body #news .card:hover {
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 768px) {
  body #news .col-md-4 {
    max-width: 31%;
  }
}
body .zoom {
  transition: transform .5s;
  /* Animation */
}
body .zoom:hover {
  transform: scale(1.05);
  /* (105% zoom)*/
}
/*# sourceMappingURL=style.css.map */